@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}


body{
    background-image: url('../imagens/fundo-borboleta.jpg');
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    font-size: small;
    text-align: center;
    color: deeppink;
}

h1{
    padding: 50px;
}

section#smartphone{
    width: 336px;
    height: 581px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-image: url('../imagens/frame-galaxy.png');
}

iframe#tela{
    width: 260px;
    height: 349px;
    position: absolute;
    background-size: 100% 100%; 
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

section#redes_sociais {
    text-align: right; /*coloca os icones no canto*/
}

section#redes_sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.317);
    box-sizing: border-box;
}

section#redes_sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.461);
    transform:translate(-3px, -3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.317);
    transition:transform .5s ;
    transition: transform .3s, border 1s;
}

a{
    font-weight: bolder;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
a:visited{
    color:deeppink;
}

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    background-color: rgb(244, 154, 178);
    color: black;
    text-align: center;
    position: absolute;
    padding: 10px;   
    bottom:0%;     
}